<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/signup.css">
    <link rel="shortcut icon" href="assets/favicon/images.png" type="image/x-icon">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <form action="/login" method="post" id="login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="">
        <label for="password">Password</label>
        <input type="password" name="password" id="">

        <input type="submit" value="Login">
    </form>
    <p>
        New User, 
        <a href="http://localhost:3000/signup">Sign-up</a>
    </p>
    </div>
    
</body>
</html>

